body{
    background-color: #f0f2f5;
}
h1{
    color:#317cef;
    font-size: 80px;
    font-family: sans-serif;
}

h4{
    /* font-family: sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    background-color: #317cef;
    color:white;
    height: 30px;
    width: 179px;
    text-align: center;
    height: 40px;
    width: 300px;


    
}

.button1{
    margin-left: 13px;
    border-radius: 10px;
    font-size: 25px;
}

.button2{
    background-color: #5bb93f;
    color:white;
    height: 40px;
    width: 200px;
    margin-left: 65px;
    border-radius: 10px;
    font-size: 15px;
}

h3{
    color: #317cef;
    margin-left: 80px;
}


.div0{
    margin-top: -100px;
}

.div1{
    margin-top: 300px;
    margin-left: 200px;
}


.div2{
    background-color: #ffffff;
    
    margin-left: 700px;
    margin-top:-200px;
    height: 300px;
    width: 330px;
}

input{
    width: 300px;
    height: 40px;
    margin-left: 10px;

}